<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav mr-auto">
    <a class="navbar-brand" href="#">Hotel Management</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hoteldetails">Hotel Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addhotel">Add Hotel</a>
          </li>
          </ul>
        </ul>
  <div class="align-item-end">
    <button type="button" class="btn btn-primary" routerLink="/home"style="margin-right: 10px;">Sign Out</button>
  </div>
  
  </nav>
  