<app-maincontent></app-maincontent>
<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="col-5">
<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong>Hotel Added
    <button (click)="removemsg()" type="button" data-bs-dismiss="alert" aria-label="Close">X</button>
</div>
<form [formGroup]="addHotel" (ngSubmit)="SaveData()">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Hotel Name" formControlName="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" placeholder="Enter Location" formControlName="location">
    </div>
    <div class="mb-3">
        <label class="form-label">PhoneNumber</label>
        <input type="text" class="form-control" placeholder="Enter PhoneNumber" formControlName="phonenumber">
    </div>
    <button type="submit" class="btn btn-dark btn-block">Submit</button>
</form>
</div>
</div>
</div>