<app-home></app-home>
<div class="container-fluid">
  <div class="row p-5 justify-content-center">
    <div class="col-sm-4">
 
    <div class="form-outline">
      <label class="form-label" for="uname">Username</label>
        <input type="name" id="uname" class="form-control"
          placeholder="Please enter Username" [(ngModel)]="userName" />
        
      </div>
      <br>

      <div class="form-outline">
        <label class="form-label" for="pass">Password</label>
        <input type="password" id="pass" class="form-control" placeholder="Password" [(ngModel)]="password"/>
       
      </div>
      <br>

      <div class="text-center">
        <button class="btn btn-primary btn-block" (click)="login()" type="button">Login</button>
      </div>
    </div>
  </div>
</div>
