<app-maincontent></app-maincontent>
<div class="container">            
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">PhoneNumber</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of hotelData">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.location}}</td>
          <td>{{item.phonenumber}}</td>
          <td><span (click)="deleteHotel(item.id)">Delete</span>&nbsp;&nbsp;
          <a routerLink="/edit/{{item.id}}">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
