<app-home></app-home>
<div class="container-fluid">
    <div class="row p-5 justify-content-center">
      <div class="col-sm-4">
   <form>
    <form >
        <div class="form-outline">
        <label class="form-label" for="uname">Enter the Username</label>
          <input formControlName="firstname"type="name" id="uname" class="form-control"
            placeholder="Please enter Username" />
          
        </div>
        <br>
  
        <div class="form-outline">
          <label class="form-label" for="pass">Enter your Password</label>
          <input type="password" id="pass" class="form-control" placeholder="Enter your Password"/>
         
        </div>
        <br>
  
        <div class="text-center">
          <button class="btn btn-dark btn-block" type="button">Signup</button>
        </div>
      
    </form>
</form>
    </div>
  </div>