
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  


<ul class="navbar-nav mr-auto">
  <a class="navbar-brand" href="#">Hotel Management</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        </ul>
      </ul>
<div class="align-item-end">
  <button type="button" class="btn btn-primary" routerLink="/login"style="margin-right: 10px;">Sign in</button>
  <button type="button" class="btn btn-outline-success" routerLink="/signup" >Create an account</button>
</div>

</nav>
